* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style-type: none;
}

.wrapper {
  max-width: 762px;
  width: 100%;
  padding-top: 60px;
  padding: 30px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #1a1a1a;
}

.todos {
  display: flex;
  align-items: flex-start;
}

.form {
  width: 100%;
  max-width: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}

input {
  padding: 7px;
  border: 1px solid #b9b9b9;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  color: #b9b9b9;
}

input:hover, input:active, input:focus {
  border: 1px solid #ff632c;
}

.input-title {
  padding-bottom: 5px;
}

.form label {
  flex-wrap: wrap;
  margin: 20px;
  display: flex;
  flex-direction: column;
  color: #ff632c;
  width: 100%;
}

.auth-info {
  font-weight: 300;
  font-size: 16px;
  color: #b9b9b9;
}

.link {
  color: #b9b9b9;
  text-decoration: none;
  border-bottom: 1px solid #ff632c;
}

.link:hover {
  color: #f9c83e;
  border-bottom: 1px solid #f9c83e;
}

.error-message {
  background-color: #f7d6dc;
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
}

.primary-button {
  background-color: #ff632c;
  color: #fff;
  border: 1px solid #ff632c;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  outline: none;
}

.primary-button:hover {
  background-color: #f9c83e;
  border: 1px solid #f9c83e;
}

.secondary-button {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  color: #ff632c;
  cursor: pointer;
}

.secondary-button:hover {
  transform: scale(1.1);
  color: #f9c83e;
}